.contribute {
	margin:20px 0;
}

.contribute .avatarLink {
	display:block;
	margin:auto;
	color: #444;
	width: 120px;
}
	
.contribute	.avatar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin:auto;
	display:block;
}

@media (pointer: fine) {
	.contribute	.avatar:hover {
		box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	}
}

.contribute	.author {
	margin:auto;
	padding-top:5px;
	display:block;
	text-align:center;
	font-size: 18px;
	font-weight:  bold;
}
	
.contribute	.tips {
	text-align:center;
}
	
.contribute	.contributeLink {
	color: white;
	width: 100px;
	text-align:center;
	display:block;
	border-radius: 12px;
	color: white;
	font-weight:  bold;
	font-size: 18px;
	line-height: 40px;
	margin:auto;
	padding-left: 27px;
	background-color: red;
	background-image:url(contribute.png);
	background-repeat:no-repeat;
	background-position:25px center;
	background-size: 26px 26px;
}

@media (pointer: fine) {
	.contribute	.contributeLink:hover {
		box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	}
}
